.view-more {
    width: 750rpx;
    height: 100rpx;
    line-height: 100rpx;
    color: white;
    text-align: center;
    background: red;
    position: relative;
    left: 0rpx;
    top: 0rpx;
}


.hide {
    display: none !important;
}